In [1]:
import sqlite3

In [14]:
import mysql.connector

# Establish a connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Vaibhav@123",
    database="stock_test"
)

# print(dir(conn))
# Create a cursor object to interact with the database
cursor = conn.cursor()

In [8]:
cursor.execute("USE stock_test")

In [16]:
query_for_yf_names = "select stock_number from stocks where stock_name=%s"


cursor.execute(query_for_yf_names,("ABC",))

result = cursor.fetchall()


print(result[0][0])

0

In [ ]:
dates = [ "2024-09-19", "2024-09-20","2024-09-23","2024-09-24","2024-09-25","2024-09-26","2024-09-27"]

print(get_data())

In [18]:
# # Single insert
# cursor.execute('INSERT INTO users (name, age) VALUES (?, ?)', ('Alice', 25))

# # Multiple inserts
# users = [('Bob', 22), ('Charlie', 30)]
# cursor.executemany('INSERT INTO users (name, age) VALUES (?, ?)', users)

ProgrammingError: Not all parameters were used in the SQL statement

In [21]:
cursor.execute("""
CREATE TABLE users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    email VARCHAR(255)
)
""")

ProgrammingError: 1050 (42S01): Table 'users' already exists

In [22]:
sql = "INSERT INTO users (name, email) VALUES (%s, %s)"
values = ("John Doe", "john@example.com")
cursor.execute(sql, values)

# Commit changes to the database
conn.commit()

In [23]:
cursor.execute("SELECT * FROM users")
result = cursor.fetchall()

for row in result:
    print(row)

(1, 'John Doe', 'john@example.com')
(2, 'John Doe', 'john@example.com')